#set ( $suffix = "DO" )
#if(${table.tableType}=="VIEW")
    #set ( $suffix = "VO" )
#end
package ${packageName}.database.dao;

import ${packageName}.database.model.${table.customClassName};

import org.apache.ibatis.annotations.Mapper;
import org.laziji.commons.mybatis.dao.${suffix}Dao;

@Mapper
public interface ${table.customClassName}Dao extends ${suffix}Dao<${table.customClassName}> {

}
