package ${packageName}.database.dao;

import ${packageName}.database.model.${table.customClassName};

import org.apache.ibatis.annotations.Mapper;
import org.laziji.commons.mybatis.dao.${table.suffix}Dao;

@Mapper
public interface ${table.customClassName}Dao extends ${table.suffix}Dao<${table.customClassName}> {

}
