package ${packageName}.database.model;

import org.laziji.commons.mybatis.model.Base${table.suffix};
import org.laziji.commons.mybatis.dao.annotations.Table;

import java.util.Date;

#if (${table.customClassName}!=${table.className})
@Table(name="${table.tableName}")
#end
public class ${table.customClassName} extends Base${table.suffix}{
	
#foreach (${column} in ${table.columns})
#if (${table.suffix}=="VO"||${column.attributeName}!="id"&&${column.attributeName}!="gmtCreate"&&${column.attributeName}!="gmtModified")
	private ${column.attributeType} ${column.attributeName};
#end
#end

#foreach (${column} in ${table.columns})
#if (${table.suffix}=="VO"||${column.attributeName}!="id"&&${column.attributeName}!="gmtCreate"&&${column.attributeName}!="gmtModified")
	public void set${column.uppercaseAttributeName}(${column.attributeType} ${column.attributeName}) {
		this.${column.attributeName} = ${column.attributeName};
	}
	public ${column.attributeType} get${column.uppercaseAttributeName}() {
		return ${column.attributeName};
	}
#end
#end
}
