package ${packageName}.database.model;

import org.laziji.commons.mybatis.model.Base${table.suffix};
import org.laziji.commons.mybatis.dao.annotations.Table;

import java.util.Date;

#if (${table.customClassName}!=${table.className})
@Table(name="${table.customClassName}")
#end
public class ${table.customClassName} extends Base${table.suffix}{
	
#foreach (${column} in ${table.columns})
#if (${table.suffix}=="VO"||${column.attrLowerName}!="id"&&${column.attrLowerName}!="gmtCreate"&&${column.attrLowerName}!="gmtModified")
	private ${column.attrType} ${column.attrLowerName};
#end
#end

#foreach (${column} in ${table.columns})
#if (${table.suffix}=="VO"||${column.attrLowerName}!="id"&&${column.attrLowerName}!="gmtCreate"&&${column.attrLowerName}!="gmtModified")
	public void set${column.attrName}(${column.attrType} ${column.attrLowerName}) {
		this.${column.attrLowerName} = ${column.attrLowerName};
	}
	public ${column.attrType} get${column.attrName}() {
		return ${column.attrLowerName};
	}
#end
#end
}
