package ${package}.database.query;

import ${package}.database.model.${className};

import java.util.Date;
import com.alibaba.fastjson.JSON;
import org.laziji.commons.mybatis.query.BaseQuery;


public class ${className}Query extends BaseQuery<${className}> {

#foreach ($column in $columns)
    private $column.attrType $column.attrLowerName;
#if($column.attrType=='String')
    private $column.attrType ${column.attrLowerName}Like;
#end
#end

#foreach ($column in $columns)
    public void set${column.attrName}($column.attrType $column.attrLowerName) {
        this.$column.attrLowerName = $column.attrLowerName;
    }
    public $column.attrType get${column.attrName}() {
        return $column.attrLowerName;
    }
#if($column.attrType=='String')
    public void set${column.attrName}Like($column.attrType ${column.attrLowerName}Like) {
        this.${column.attrLowerName}Like = ${column.attrLowerName}Like;
    }
    public $column.attrType get${column.attrName}Like() {
        return ${column.attrLowerName}Like;
    }
#end
#end

    @Override
    public ${className} toBean() {
        return JSON.parseObject(JSON.toJSONString(this),${className}.class);
    }
}
