package ${packageName}.database.query;

import ${packageName}.database.model.${table.customClassName};

import java.util.Date;
import org.laziji.commons.mybatis.query.BaseQuery;


public class ${table.customClassName}Query extends BaseQuery<${table.customClassName}> {

#foreach (${column} in ${table.columns})
    private ${column.attributeType} ${column.attributeName};
#if(${column.attributeType}=='String')
    private ${column.attributeType} ${column.attributeName}Like;
#end
#end

#foreach (${column} in $table.columns)
    public void set${column.uppercaseAttributeName}(${column.attributeType} ${column.attributeName}) {
        this.${column.attributeName} = ${column.attributeName};
    }
    public ${column.attributeType} get${column.uppercaseAttributeName}() {
        return ${column.attributeName};
    }
#if(${column.attributeType}=='String')
    public void set${column.uppercaseAttributeName}Like(${column.attributeType} ${column.attributeName}Like) {
        this.${column.attributeName}Like = ${column.attributeName}Like;
    }
    public ${column.attributeType} get${column.uppercaseAttributeName}Like() {
        return ${column.attributeName}Like;
    }
#end
#end
}
