package ${packageName}.database.service;

import org.springframework.stereotype.Service;
import org.laziji.commons.mybatis.service.Base${table.suffix}Service;

import ${packageName}.database.model.${table.customClassName};

@Service
public class ${table.customClassName}Service extends Base${table.suffix}Service<${table.customClassName}> {

}
