package ${packageName}.database.dao;

import ${packageName}.database.model.${table.customClassName};
import ${packageName}.database.query.${table.customClassName}Query;

import org.apache.ibatis.annotations.Mapper;
import java.util.List;

@Mapper
public interface ${table.customClassName}Dao {
    List<${table.customClassName}> select(${table.customClassName}Query query);
    Integer selectCount(${className}Query query);
    ${table.customClassName} selectById(Integer id);
    Integer insert(${table.customClassName} bean);
    Integer update(${table.customClassName} bean);
    Integer delete(Integer id);
}
