#set ( $sys = ${system} )
#set ( $dp = ${dynamicPath} )
#set ( $tpl = ${template} )
#set ( $package = ${sys.config.get("generator.package")} )
#set ( $className = ${dp.className} )
package ${package}.database.query;

import java.util.Date;
import com.alibaba.fastjson.JSON;

public class ${className}Query {

    private Integer limit = 1;
    private Integer page = 0;
    private Integer offset = 0;
    private String sort;
    private String order;

#foreach ($column in $table.columns)
    private $column.attributeType $column.attributeName;
#if($column.attributeType=='String')
    private $column.attributeType ${column.attributeName}Like;
#end
#end

#foreach ($column in $table.columns)
    public void set${column.uppercaseAttributeName}($column.attributeType $column.attributeName) {
        this.$column.attributeName = $column.attributeName;
    }
    public $column.attributeType get${column.uppercaseAttributeName}() {
        return $column.attributeName;
    }
#if($column.attributeType=='String')
    public void set${column.uppercaseAttributeName}Like($column.attributeType ${column.attributeName}Like) {
        this.${column.attributeName}Like = ${column.attributeName}Like;
    }
    public $column.attributeType get${column.uppercaseAttributeName}Like() {
        return ${column.attributeName}Like;
    }
#end
#end

    public Integer getLimit() {
        return limit;
    }

    public void setLimit(Integer limit) {
        this.limit = limit > 0 ? limit : 1;
        this.offset = this.page * this.limit;
    }

    public Integer getPage() {
        return page;
    }

    public void setPage(Integer page) {
        if (page == null) {
            page = 0;
        }
        this.page = page >= 0 ? page : 0;
        this.offset = this.page * this.limit;
    }

    public Integer getOffset() {
        return offset;
    }

    public void setOffset(Integer offset) {
        this.offset = offset;
    }

    public String getSort() {
        return sort;
    }

    public void setSort(String sort) {
        this.sort = sort;
    }

    public String getOrder() {
        return order;
    }

    public void setOrder(String order) {
        if (order == null) {
            this.order = null;
            return;
        }
        String t = order.toLowerCase();
        if (!"asc".equals(t) && !"desc".equals(t)) {
            return;
        }
        this.order = order;
    }

    @Override
    public String toString() {
        return JSON.toJSONString(this);
    }
}
