spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/example?characterEncoding=utf-8
    username: root
    password: root

generator:
  package: com.g.example
  template:
#    Dependent https://github.com/GitHub-Laziji/commons-mybatis
#    path: mybatis2
#    mapping: |
#      Model.java.vm: main/java/{packagePath}/database/model/{customClassName}.java
#      Query.java.vm: main/java/{packagePath}/database/query/{customClassName}Query.java
#      Dao.java.vm: main/java/{packagePath}/database/dao/{customClassName}Dao.java
#      Service.java.vm: main/java/{packagePath}/database/service/{customClassName}Service.java


#    default
    path: mybatis-default
    mapping: |
      Model.java.vm: main/java/{packagePath}/database/model/{customClassName}.java
      Query.java.vm: main/java/{packagePath}/database/query/{customClassName}Query.java
      Dao.java.vm: main/java/{packagePath}/database/dao/{customClassName}Dao.java
      Mapper.xml.vm: main/resources/mapper/{customClassName}Mapper.xml