package ${package}.database.service;

import org.springframework.stereotype.Service;
import org.laziji.commons.mybatis.service.Base${suffix}Service;

import ${package}.database.model.${className}${suffix};

@Service
public class ${className}Service extends Base${suffix}Service<${className}${suffix}> {

}
