#set ( $sys = ${system} )
#set ( $dp = ${dynamicPath} )
#set ( $tpl = ${template} )
#set ( $package = ${sys.config.get("generator.package")} )
#set ( $className = ${dp.className} )
package ${package}.entity;

import java.util.Date;
import com.alibaba.fastjson.JSON;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;

public class ${className}{

#foreach (${column} in ${table.columns})
#if (${column.attributeName} == "id")
	@TableId(type = IdType.AUTO)
#end
	private ${column.attributeType} ${column.attributeName};
#end

#foreach (${column} in ${table.columns})
	public void set${column.uppercaseAttributeName}(${column.attributeType} ${column.attributeName}) {
		this.${column.attributeName} = ${column.attributeName};
	}
	public ${column.attributeType} get${column.uppercaseAttributeName}() {
		return ${column.attributeName};
	}
#end

	@Override
	public String toString() {
		return JSON.toJSONString(this);
	}
}
