#set ( $sys = ${system} )
#set ( $dp = ${dynamicPath} )
#set ( $tpl = ${template} )
#set ( $package = ${sys.config.get("generator.package")} )
#set ( $className = ${dp.className} )
package ${package}.service;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.extension.service.IService;

public interface ${className}Service extends IService<${className}> {

}
